@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');




nav {
    background-color: rgb(226,231,240);
    padding: 10px;
    border-width: 0.5px;
    
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 600px;
}

.logoLinks {
    border: rgb(45,54,72);
    border-radius: 5px;
    border-width: 1px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:rgb(45,54,72);
    text-decoration: none;
    color: white;
    
}

a {
    padding-left: 10px;
    color: rgb(113,125,150);
    text-decoration: none;
}

body {
    border-color: black solid;
    border-width: 1px;
    border-radius: 5px;
    border: black solid;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
    background-image: url(bierachtergrond.jpeg);
    
}

.mainProduct {
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    border: black solid;
    border-width: 1px;
    background-color: white;
   
}

.mainName {
    padding: 20px;
}

.mainImg {
    /* border: black solid; */
    border-width: 1px;
}

.mainHead {
    padding-left: 0px;
    margin-left: 0px;
}

.mainDisc {
    padding-left: 20px;
    padding-top: 100px;
    padding-right: 1px;
    padding-bottom: 10px;
    /* border: black solid; */
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 100px;
    
    /* margin-top: 100px; */
    
}

.prijs {
    font-size: xx-large;
}

.disc {
    /* border: black solid; */
    width: 300px;
}

.bestellen {
    text-align: center;
    padding: 10px;
    background-color: rgb(45,54,72);
   
    border-radius: 10px;
    color: white;
}

.punten {
    background-color: rgb(226,231,240);
    margin-left: 50px;
    margin-bottom: 100px;
    height: 150px;
    padding-left: 50px;
    padding-right: 50px;
    width: 500px;
    margin-top: 100px;
    margin-left: 120px;
}

.Productdetails {
    display: flex;
    background-color: white;
    

    
}

.detBottom {
    
    padding-top: 100px;
    margin-left: 50px;
}

.descBot {
    font-size: xx-large;
}

.extraProd {
    display: flex;
    background-color: rgb(226,231,240);
    padding: 100px;
}

.ext {
   /* border: black solid; */
    text-align: center;
   
}

.botimg {
    padding-left: 50px;
    height: 200px;
}

footer {
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    text-align: center;
    
}
